<a href="https://colab.research.google.com/github/Bala534/WIDS-Datathon-2021/blob/main/WIDS_Datathon_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [249]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import keras
import tensorboard
import tensorflow as tf
import random as rd

In [250]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score,accuracy_score,confusion_matrix,classification_report,roc_auc_score,roc_curve,auc

In [251]:
data = pd.read_csv('/content/TrainingWiDS2021.csv')
data.head()

   Unnamed: 0  encounter_id  ...  solid_tumor_with_metastasis  diabetes_mellitus
0           1        214826  ...                          0.0                1.0
1           2        246060  ...                          0.0                1.0
2           3        276985  ...                          0.0                0.0
3           4        262220  ...                          0.0                0.0
4           5        201746  ...                          0.0                0.0

[5 rows x 181 columns]

In [252]:
data.shape

(9439, 181)

In [253]:
data.isna().any() # Check for NaN under an entire DataFrame:

Unnamed: 0                     False
encounter_id                   False
hospital_id                    False
age                             True
bmi                             True
                               ...
immunosuppression               True
leukemia                        True
lymphoma                        True
solid_tumor_with_metastasis     True
diabetes_mellitus               True
Length: 181, dtype: bool

In [254]:
data.isna().sum()

Unnamed: 0                        0
encounter_id                      0
hospital_id                       0
age                             381
bmi                            1714
                               ...
immunosuppression                 1
leukemia                          1
lymphoma                          1
solid_tumor_with_metastasis       1
diabetes_mellitus                 1
Length: 181, dtype: int64

In [255]:
data.isnull().sum().sum() # Count the NaN under an entire DataFrame:

588645

In [256]:
data.columns

Index(['Unnamed: 0', 'encounter_id', 'hospital_id', 'age', 'bmi',
       'elective_surgery', 'ethnicity', 'gender', 'height',
       'hospital_admit_source',
       ...
       'h1_pao2fio2ratio_max', 'h1_pao2fio2ratio_min', 'aids', 'cirrhosis',
       'hepatic_failure', 'immunosuppression', 'leukemia', 'lymphoma',
       'solid_tumor_with_metastasis', 'diabetes_mellitus'],
      dtype='object', length=181)

In [257]:
data.describe()

        Unnamed: 0  ...  diabetes_mellitus
count  9439.000000  ...        9438.000000
mean   4720.000000  ...           0.236703
std    2724.948929  ...           0.425081
min       1.000000  ...           0.000000
25%    2360.500000  ...           0.000000
50%    4720.000000  ...           0.000000
75%    7079.500000  ...           0.000000
max    9439.000000  ...           1.000000

[8 rows x 175 columns]

In [258]:
data.describe(include="all")

         Unnamed: 0  ...  diabetes_mellitus
count   9439.000000  ...        9438.000000
unique          NaN  ...                NaN
top             NaN  ...                NaN
freq            NaN  ...                NaN
mean    4720.000000  ...           0.236703
std     2724.948929  ...           0.425081
min        1.000000  ...           0.000000
25%     2360.500000  ...           0.000000
50%     4720.000000  ...           0.000000
75%     7079.500000  ...           0.000000
max     9439.000000  ...           1.000000

[11 rows x 181 columns]

In [259]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9439 entries, 0 to 9438
Columns: 181 entries, Unnamed: 0 to diabetes_mellitus
dtypes: float64(162), int64(13), object(6)
memory usage: 13.0+ MB

In [260]:
del data['ethnicity']

In [261]:
del data['hospital_admit_source']

In [262]:
del data['icu_admit_source']

In [263]:
del data['icu_stay_type']

In [264]:
del data['icu_type']

In [265]:
data.columns = data.columns.str.strip()

In [266]:
data['gender'] = data.gender.map(dict(M=1, F=0))

In [267]:
data = data.fillna(method="ffill")

In [268]:
data.isna().sum().sum()

8162

In [269]:
data = data.fillna(method="bfill")

In [270]:
data.isna().sum().sum()

0

In [271]:
# Implementing the model

In [272]:
from sklearn.ensemble import RandomForestRegressor

In [273]:
x = data.loc[ : , data.columns != 'diabetes_mellitus']
y = data['diabetes_mellitus']

In [274]:
model = RandomForestRegressor()
model.fit(x,y)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [279]:
df = pd.read_csv('/content/UnlabeledWiDS2021.csv')

In [280]:
df.head()

   Unnamed: 0  encounter_id  ...  lymphoma  solid_tumor_with_metastasis
0           1        144740  ...         0                            0
1           2        141990  ...         0                            0
2           3        142038  ...         0                            0
3           4        138628  ...         0                            0
4           5        141682  ...         0                            0

[5 rows x 180 columns]

In [296]:
df.shape

(10234, 175)

In [282]:
del df['ethnicity']

In [283]:
del df['hospital_admit_source']

In [284]:
del df['icu_admit_source']

In [285]:
del df['icu_stay_type']

In [286]:
del df['icu_type']

In [287]:
df.columns = df.columns.str.strip()

In [288]:
df['gender'] = df.gender.map(dict(M=1, F=0))

In [289]:
df = df.fillna(method="ffill")

In [290]:
df.isna().sum().sum()

1588

In [291]:
df = df.fillna(method="bfill")

In [293]:
df.isna().sum().sum()

0

In [297]:
df.drop(df.tail(795).index, 
        inplace = True)

In [298]:
y_pred = model.predict(df)
y_pred

array([0.36, 0.2 , 0.16, ..., 0.11, 0.22, 0.41])

In [299]:
roc_auc_score(y,y_pred)

0.4956038064186253

In [301]:
output = pd.DataFrame({'encounter_id':df['encounter_id'],'diabetes_milletus':y_pred})
output

      encounter_id  diabetes_milletus
0           144740               0.36
1           141990               0.20
2           142038               0.16
3           138628               0.30
4           141682               0.46
...            ...                ...
9434        135424               0.31
9435        143540               0.23
9436        138804               0.11
9437        143701               0.22
9438        136209               0.41

[9439 rows x 2 columns]